#welcome {
  min-height: 106vh;
  padding: 170px 0 30px 0;
  .welcome {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--left {
      width: 50%;
      color: white;
      display: flex;
      flex-direction: column;
      gap: 20px;
      h1 {
        font-weight: 800;
        font-size: 50px;
        line-height: 140%;
        letter-spacing: 2%;
      }
      p {
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
      }
      &__category {
        margin: 20px 10px 40px 30px;
        width: 85%;
        &--card {
          cursor: pointer;
          h4 {
            margin-top: 10px;
            margin-left: 34px;
            font-weight: 400;
            font-size: 17px;
            line-height: 150%;
          }
        }
      }
      &__icons {
        display: flex;
        align-items: center;
        gap: 20px;

        a {
          font-size: 30px;
        }

        .youtube {
          color: #c0c2d7;
          transition: 0.3s ease;
          font-size: 32px;
          &:hover {
            color: red;
          }
        }

        .inst {
          color: #c0c2d7;
          transition: 0.3s ease;
          font-size: 30px;

          &:hover {
            color: #e1306c;
          }
        }

        .vk {
          color: #c0c2d7;
          transition: 0.3s ease;
          font-size: 30px;

          &:hover {
            color: #4c75a3;
          }
        }

        .whats {
          color: #c0c2d7;
          transition: 0.3s ease;
          font-size: 30px;

          &:hover {
            color: #25d366;
          }
        }

        .teleg {
          color: #c0c2d7;
          transition: 0.3s ease;
          font-size: 30px;

          &:hover {
            color: #0088cc;
          }
        }
      }
    }

    .booking-filter {
      background: #fff;
      border-radius: 30px;
      padding: 30px;
      width: 100%;
      max-width: 400px;
      box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      gap: 20px;

      &__field {
        display: flex;
        flex-direction: column;
        gap: 8px;

        label {
          font-weight: 600;
        }

        input[type="text"],
        input[type="number"],
        input[type="date"] {
          padding: 14px 20px;
          border-radius: 50px;
          border: 1px solid #ccc;
          font-size: 16px;
          outline: none;
          transition: 0.3s;

          &:focus {
            border-color: #f4683f;
          }
        }
      }

      .price-range-slider {
        position: relative;
        width: 100%;
        padding: 10px 0 20px;

        .labels {
          display: flex;
          justify-content: space-between;
          font-weight: 600;
          color: #333;
          margin-top: 10px;
          font-size: 18px;
        }

        input[type="range"] {
          position: absolute;
          pointer-events: none;
          -webkit-appearance: none;
          width: 100%;
          height: 0;
          top: 10px;

          &::-webkit-slider-thumb {
            pointer-events: all;
            width: 5px;
            height: 25px;
            border-radius: 8px;
            background: #f4683f;
            border: none;
            -webkit-appearance: none;
            cursor: pointer;
            z-index: 100;
          }

          &::-moz-range-thumb {
            pointer-events: all;
            width: 16px;
            height: 30px;
            border-radius: 8px;
            background: #f4683f;
            border: none;
            cursor: pointer;
            z-index: 100;
          }
        }

        .slider {
          position: relative;
          height: 2px;
          background: #ccc;
          border-radius: 3px;
          z-index: 2;

          .track {
            position: absolute;
            height: 2px;
            width: 100%;
            border-radius: 5px;
            background: #ccc;
            z-index: 1;
          }

          .range {
            position: absolute;
            height: 2px;
            background: #f4683f;
            z-index: 2;
            // border-radius: 3px;
          }
        }
      }

      &__submit {
        background: #f4683f;
        color: white;
        font-size: 18px;
        font-weight: 600;
        border: none;
        padding: 16px 0;
        border-radius: 50px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background: #d4552b;
        }
      }
    }
  }
}
